.example-spacer {
  flex: 1 1 auto;
}

 .sidebar {
  width: 200px;
  background-color: #f1f1f1;
  padding: 20px;
  box-sizing: border-box;
}

/* 
.sidebar h3 {
  color: #333;
}  */
/* 
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
} */

/* .sidebar li {
  margin-bottom: 10px;
} */
/* 
.sidebar a {
  text-decoration: none;
  color: #666;
} */

.sidebar a:hover {
  color: #000;
} 

.product-title {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.welcome-text {
  font-size: 1.3rem;
  color: white;
  
}